html {
    height: 100%;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:#242424;
      /**#1d203a; **/
    color: white;
    margin: 0 auto;
    overflow-x:hidden;
    scroll-behavior: smooth;
  }

  body {
    margin: 0 auto;
  }

  .navbar {
    /** #1f5de3; **/
    background-color: #41a95b;
    overflow: hidden;
    margin: 0;
    /**box-shadow: 0 0px 11px rgb(27, 50, 101);**/
  }
  
  .navbar a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 30px 20px;
    text-decoration: none;
    font-size: 17px;
    transition-duration: 0.5s;
  }
  
  .navbar .left {
    float: left;
    display:block;
    color: white;
    text-align: center;
    padding: 30px 20px;
    text-decoration: none;
    font-size: 17px;
    transition-duration:none;
  }
  
  .logo {
    display: block;
    }
  
  .navbar a:hover {
    color: #ddd;
    transition-duration: 0.5s;
  }
  
  .navbar .icon {
    display: none;
  }

  
  .wrapper {
    margin: 80px;
  }
  
  .title {
    color:white;
    text-align: center;
    font-size: 45px;
  }
  
  h3 {
    font-size: 50px;
  }
  
  
  button {
    color: white;
    background-color: #41a95b;
    border-style: none;
    transition-duration: 0.8s;
    border-radius: 5px;
    float: none;
    font-size: 20px;
    margin: 0px auto;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 20px;
    /**box-shadow: 0 0 20px 2px #41a95b;**/
    display: inline-block;
  }

  a {
    color: white;
  }

  a button {
    text-decoration: none;
  }
  
  button:hover {
    background-color:1649FF;
    transition-duration: 0.8s;
    cursor: pointer;
    box-shadow: 0 0 40px 2px #41a95b;
  }
  
  h2 {
    background-color: #41a95b;
    box-shadow: 0 0 20px 2px #41a95b;
     /** #6D6D6D; **/
    height: 50px;
    width: 50px;
    margin: 10px auto;
    text-align: center;
  }
  
  .female {
    border-radius: 100%;
  }
  
  .child {
    transform: rotate(-45deg);
  }
  
  .parent {
    margin: 0 auto;
    padding: 20px;
  }
  
  .parents {
    float: center;
  }
  
  input {
    border-color: black;
  }
  
  .header {
    background-color: #1649FF;
    height: 80px;
    width: 100% + 15px;
    margin: -15px;
    box-shadow: 0 0 90px 2px #1b1b1b;
    /**box-shadow: 0 -5px 50px 2px black;**/
  }
  
  .header a {
    color: white; 
    text-decoration: none;
    transition-duration: 0.8s;
  }
  
  .header a:hover {
    color: lightgray;
    transition-duration: 0.8s;
  }
  
  footer {
    text-align: center;
    opacity: 50%;
    padding: 20px;
  }
  
  footer a {
    transition-duration: 0.8s;
    color: white;
  }
  
  footer a:hover {
    transition-duration: 0.8s;
    color: lightgray;
  }
  
  .radiobutton {
    font-size: 20px;
  }
  
  p {
    font-size: 25px;

  }

  ul {
    font-size: 25px;
  }
  
  h4 {
    font-size:25px;
  
  }

  h1 {
    font-size: 100px;
  }
  
  #webcam-container {
    text-align: center;
    margin: 0 auto;
  }
  
  #label-container {
    margin: 0 auto;
    text-align: center;
  }

  .container {
    margin: 75px;
    padding-bottom: 50px;
  }
  
  
  